<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Encargada de Ventas y Marketing - </h3><h3> (years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, in. Delectus, cum aliquam mollitia tempora numquam voluptas voluptatibus debitis cumque tenetur dolorem sint nesciunt nam voluptatum quibusdam? Provident, necessitatibus cum.
            </p>

            <li>
                <h3>Trabajo 2 - </h3><h3> (years)</h3>
            </li>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat fugiat molestias magni esse eligendi repellat adipisci nisi officia doloremque quas odio, enim officiis debitis possimus quasi. Explicabo quis commodi rerum!
            </p>
        </ul>
    </div>
</div>
